<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
  <meta charset="UTF-8">

  <title>RanQ [ランク]｜あなたの知りたいがランキングで分かる。</title>
  <meta name="viewport" content="width=device-width" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="RanQはランキング形式であなたの知りたい情報が分かるメディアです。">


  <!-- OGP -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@">

  <meta property="fb:app_id" content="">

  <meta property="og:locale" content="ja_JP">
  <meta property="og:title" content="RanQ [ランク]｜ランキング形式で知りたいが分かるメディア">
  <meta property="og:type" content="website">
  <meta property="og:image" content="http://ranq-media.jp/images/.png">
  <meta property="og:url" content="http://ranq-media.jp/">
  <meta property="og:site_name" content="RanQ [ランク]">
  <meta property="og:description" content="RanQはランキング形式で知りたい情報が分かるメディアです。">
  <!-- /OGP -->

  <meta name="p:domain_verify" content="6ae5c3b79f2be421e8e68b1471007762"/>


  <meta content="authenticity_token" name="csrf-param" />
<meta content="Xu+ulyEs8A0cSehLiH+RzmWTJJq71ZUWqt9lsc8fQuM=" name="csrf-token" />

    <link rel="canonical" href="http://ranq-media.com/">


      <link rel="next" href="http://ranq-media/?page=2">


    <link title="新着記事｜RanQ [ランク]" href="http://ranq-media/feed.rss" rel="alternate" type="application/rss+xml">

  <!-- Google Rel Publisher -->
  <!-- /Google Rel Publisher -->
<!--
  <link rel="stylesheet" href="css/style.css"/>
-->

  <!-- IE 9 未満の HTML5 対応 -->
  <!--[if lt IE 9]>
    <script src="/scripts/vendor/html5shiv.3b40df82.js"></script>
  <![endif]-->

  <!-- Google タグサービス -->

  <!-- /Google タグサービス -->

  <!-- Google Analytics -->
  <!-- /Google Analytics -->

  <!-- Faceobook Custom Audiences -->
  <!-- /Faceobook Custom Audiences -->

</head>
