<div class="title_section">
  <div class="title_section_in">
    <h2>新着のまとめ</h2>
    <p>最新のトレンドを知るなら、ここをチェック</p>
  </div>
</div>

<div class="side_article_list">
  <div class="article_list_content clearfix">
    <div class="article_list_thumb" style="width:60px;">
      <a href="content.html">
       <%= link_to image_tag("image-1.jpg",size: "50x50" ,alt: "rails logo")%>
      </a>
    </div>
    <div class="article_list_text">
      <p class="side_article_title"><a href="content.html">記事タイトルが入ります記事タイトルが入ります記事タイトルが入ります</a></p>
      <p class="side_article_user">
        <a href="user.html">
          ユーザー名
        </a>
      </p>
    </div>
  </div><!-- /.side_article_content -->
</div>
  
<div class="side_article_list">
  <div class="article_list_content clearfix">
    <div class="article_list_thumb" style="width:60px;">
      <a href="content.html">
        <%= link_to image_tag("image-1.jpg",size: "50x50" ,alt: "rails logo")%>
      </a>
    </div>
    
    <div class="article_list_text">
      <p class="side_article_title"><a href="content.html">記事タイトルが入ります記事タイトルが入ります記事タイトルが入ります</a></p>
      <p class="side_article_user">
        <a href="user.html">
        ユーザー名
        </a>
      </p>
    </div>
  </div><!-- /.side_article_content -->
</div>
<div class="side_article_list">
  <div class="article_list_content clearfix">
    <div class="article_list_thumb" style="width:60px;">
      <a href="content.html">
       <%= link_to image_tag("image-1.jpg",size: "50x50" ,alt: "rails logo")%>
      </a>
    </div>
    
    <div class="article_list_text">
      <p class="side_article_title"><a href="content.html">記事タイトルが入ります記事タイトルが入ります記事タイトルが入ります</a></p>
      <p class="side_article_user">
        <a href="user.html">
          ユーザー名
        </a>
      </p>
    </div>
  </div><!-- /.side_article_content -->
</div>

<p class="genre_to_allTags">&raquo;&nbsp;<a href="">新着まとめ一覧</a></p>

<div class="side_ad">
          <!-- /70932189/mery_pc_SidebarAboveTopicKeywords -->
  <div id='pc_mery_dfp_SidebarAboveTopicKeywords' style='height:150px; width:300px; margin-top:20px;'>
    <script type='text/javascript'>
      googletag.cmd.push(function() { googletag.display('pc_mery_dfp_SidebarAboveTopicKeywords'); });
    </script>
</div>

</div>