
  <div class="title_section">
    <div class="title_section_in">
      <h2>おすすめのまとめ</h2> 
      <p>いまRanqで注目のまとめ</p>
    </div>
  </div>
<div class="side_article_list"
 >
<% @corporecom.each do |article| %>
<%# daily_article_ranking.each do |article| %>
 
  
  <div class="article_list_content clearfix">
    <%= link_to image_tag(article.eyecatch_img ,:class =>"s_eyecatch_img",:alt => "") ,article %>
    <div class="article_list_text">
    <p class="side_article_title"><%= link_to article.title.html_safe, article %></p>
    <p class="side_article_user">
      <a><%= link_to article.user.user_name, article.user ,:rel => "nofollow" %></a>
    </p>
  </div>
</div><!-- /.side_article_content -->
<%end %> 
</div>

