<div class="title_section">
  <div class="title_section_in">
    <h2>話題のキーワード</h2>
    <p>いまRanQで話題になっているキーワード</p>
  </div>
</div>
<section class="side_keyword">
  <div class="keywords_area">
    <ul>
      <li class="tag"><a href="">タグその1</a></li>
  
      <li class="tag"><a href="">タグその2</a></li>
  
      <li class="tag"><a href="">タグその3</a></li>
  
      <li class="tag"><a href="">タグその4</a></li>
  
      <li class="tag"><a href="">タグその5</a></li>
  
      <li class="tag"><a href="">タグその6</a></li>
  
      <li class="tag"><a href="">タグその7</a></li>
  
      <li class="tag"><a href="">タグその8</a></li>
  
      <li class="tag"><a href="">タグその9</a></li>
  
      <li class="tag"><a href="">タグその10</a></li>
  
      <li class="tag"><a href="">タグその11</a></li>
  
      <li class="tag"><a href="">タグその12</a></li>
  
      <li class="tag"><a href="">タグその13</a></li>
  
      <li class="tag"><a href="">タグその14</a></li>
  
      <li class="tag"><a href="">タグその15</a></li>
  
    </ul> 
  </div>
</section>


<p class="genre_to_allTags">&raquo;&nbsp;<a href="http://mery.jp/tag">キーワード一覧</a></p>