<div class="title_section">
  <div class="title_section_in">
    <h2>新着の特集</h2>
    <p>季節の話題やテーマごとの特集は、ここをチェック</p>
  </div>
</div>
<div class="side_article_list">
<div class="article_list_content clearfix">
<div class="article_list_thumb" style="width:60px;">
  <a href="">
    <img alt="浴衣特集2016" height="50" src="image/image-1.jpg" width="50" />
</a>    </div>
<div class="article_list_text">
  <h3 class="side_article_title">
    <a href="">特集タイトルその1</a>
  </h3>
</div>
</div>
</div>
<div class="side_article_list">
<div class="article_list_content clearfix">
<div class="article_list_thumb" style="width:60px;">
<a href="">
<img alt="浴衣特集2016" height="50" src="image/image-1.jpg" width="50" />
</a>    </div>
<div class="article_list_text">
<h3 class="side_article_title">
<a href="">特集タイトルその2</a>
</h3>
</div>
</div>
</div>
<div class="side_article_list">
<div class="article_list_content clearfix">
<div class="article_list_thumb" style="width:60px;">
<a href="">
<img alt="浴衣特集2016" height="50" src="image/image-1.jpg" width="50" />
</a>    </div>
<div class="article_list_text">
<h3 class="side_article_title">
<a href="">特集タイトルその3</a>
</h3>
</div>
</div>
</div>

<p class="genre_to_allTags">&raquo;&nbsp;<a href="">特集一覧</a></p>
