<section id="topcontent">
  <div class="topcontent_in clearfix">
    <div class="topcontent_main">
      <ul>

        

<% @toprank.each do |article| %>
  <!-- topcontet_content -->
  <li class="topcontent_content topcontet_content_3">
    
    <%= link_to image_tag(article.eyecatch_img, :class =>"top_s_eyecatch_img") ,article %>  
    <!--</div> -->
   
    <p class="article_list_title"><span><%= link_to article.title.html_safe, article %></p></span></p>
    <!--</a>-->
    <p class="article_list_lead">
      <%#= article.description.html_safe1 %>
    </p>
    
    <div class="topcontent_user">
      <a><%= link_to article.user.user_name, article.user %></a>
    </div>
    <!-- <span><%#= article.impressionist_count %>View</span> -->
          <span><%= article.view_count %>View</span>
  </li>
  <!-- /.topcontet_content -->
<% end %>

    <div>


    </div>
      </ul>
      <!--page cache-->
    </div><!-- /.topcontent_main -->

              </div><!-- /.eyecatch_feature_content -->
            </div><!-- /.eyecatch_feature_wrapp -->
        </div><!-- /.eyecatch_feature -->

  </div><!-- /.eyecatch_in -->
</section>
