<div class="list-group" >

  <%= link_to 'アカウント', edit_account_path, class: 'list-group-item ' + (edit_account_path == request.fullpath ? 'active' : '') %>

  <%= link_to 'プロフィール', edit_profile_path, class: 'list-group-item ' + (edit_profile_path == request.fullpath ? 'active' : '') %>

  <%= link_to 'パスワード', edit_password_path, class: 'list-group-item ' + (edit_password_path == request.fullpath ? 'active' : '') %>

  <%#= link_to '退会', edit_withdrawals_path, class: 'list-group-item' %>
</div>
