
    <ul class="user_page_entry_list">
<% @nuarticleus.each do |article| %>
     <li class="user_page_entry">
      <div class="user_page_image_box">
        <%= link_to image_tag(article.eyecatch_img,:class=>"user_page_image" ) ,article %>
       </div>

       <p class="out_article_title">
          <%= link_to article.title, article  %>
       </p>
       </li>
<% end %>
    </ul>
