<div id="form_template" >
<input style= "display:none;"id="mouseOverSum" /><input style= "display:none;"id="mouseOverSumOff" />
<%= render 'eform' %>
</div>
<input id="dragSrc" type="number"/>
<div id="loading-modal" style="position: fixed; z-index: 999999; height:100%; width:100%; background-color:white; top:0px; opacity: 0.9;">
 <p style="opacity: 1;
    filter: none;
    font: bold 16px Verdana,Arial,sans-serif;
    text-align: center;
    margin: 20% 0;">エディタ作成中
 </p>
</div>
