<div id="form_template">
<h1>記事編集</h1><input style= "display:none;"id="mouseOverSum" /><input style= "display:none;"id="mouseOverSumOff" />


<%= render 'eform' %>
</div>
<%#= link_to 'Show', @article %> 
<%#= link_to 'Back', articles_path %>
