<div id="form_template">
<h1>新規投稿</h1><input style= "display:none;"id="mouseOverSum" /><input style= "display:none;"id="mouseOverSumOff" />
<%= render 'form' %>
<input id="dragSrc" />
</div>
<script>
 console.log("ba");
 var dragSrcEl = null;

function handleDragStart(e) {
  // Target (this) element is the source node.
  this.style.opacity = '0.4';

  dragSrcEl = this;
  console.log(this.innerHTML);
  $("#dragSrc").val(this.innerHTML);
  e.dataTransfer.effectAllowed = 'move';
  e.dataTransfer.setData('text/html', this.innerHTML);
}
function handleDrop(e) {
  // this/e.target is current target element.
 console.log("ba");

  if (e.stopPropagation) {
    e.stopPropagation(); // Stops some browsers from redirecting.
  }

  // Don't do anything if dropping the same column we're dragging.
  if (dragSrcEl != this) {
    // Set the source column's HTML to the HTML of the columnwe dropped on.
    dragSrcEl.innerHTML = this.innerHTML;
    this.innerHTML = e.dataTransfer.getData('text/html');
  }

  return false;
}
var cols = document.querySelectorAll('#embeds .embedDiv');
[].forEach.call(cols, function(col) {
  col.addEventListener('dragstart', handleDragStart, false);
  col.addEventListener('drop', handleDrop, false);
});
</script>
<%#= link_to 'Back', articles_path %>
