<div class="social-block-wrapper">
  <%= render 'social_connect', provider: :facebook, display_name: 'Facebook', icon: 'icon-facebook-sign'%>
  <%= render 'social_connect', provider: :twitter, display_name: 'Twitter', icon: 'icon-twitter-sign'%>
</div>
