
<tr class="shop">
   
  <td>
   <% if user.certificated == true && Rails.env != "production" %>
                <%= image_tag user.user_image_url(:thumb)%> 認証ユーザー
   <%else%>
        　<%= image_tag user.user_image_url(:thumb)%>

   <% end %>

  </td>
  <td><%= link_to user.user_name, name_path(user.name) %></td>
  
  <!--
  <td><%#= link_to 'Show', user %></td>
  <td><%#= link_to 'Edit', edit_user_path(user) %></td>
  <td><%#= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  -->
 
  
</tr>
