
<tr class="shop">
   
  <td>
   <div class="profimg">
   <% if user.certificated == true && Rails.env != "production" %>
                <%= image_tag user.user_image_url(:thumb)%> 認証ユーザー
   <%else%>
        　<%= image_tag user.user_image_url(:thumb),:alt => ""%>

   <% end %>
   </div>

  </td>
  <td><%= link_to user.user_name, user_path(user.name) %></td>
  <% if Rails.env.development?%>
  <% day_count_view = user.day_count_view %> 
  <td><%= day_count_view%></td> 
  <%# wv =  user.week_views.first %>
  <%# yesterday_views = wv.day0 %>
  <td><%#= day_count_view*0.9%></td> 
  <td><%#= yesterday_views%></td>  
  <%# calc_views = yesterday_views+(day_count_view*0.9) %>
  <td><%#= calc_views.to_i%></td>  
  <%end%>
</tr>
