<!--<li style="list-style: none;">
      <%#= gravatar_for @user, size: 50 %>
      <%#= image_tag user.user_image_url(:thumb_view)%>
      <%#= link_to @user.name, @user %>
      <%#= link_to user.user_name, user %>
</li>-->
<tr class="shop">
   
  <td><%= image_tag user.user_image_url(:thumb_view)%></td>
      <%#= link_to @user.name, @user %>
  <td><%= link_to user.user_name, user %></td>
  
  <!--
  <td><%#= link_to 'Show', user %></td>
  <td><%#= link_to 'Edit', edit_user_path(user) %></td>
  <td><%#= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  -->
 
  
</tr>