// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Ssquires controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table>tbody>tr:nth-child(3)>td>table>tbody>tr>td.cke_dialog_ui_hbox_first>div.cke_dialog_ui_vbox>table>tbody>tr>td>table>tbody>tr>.cke_dialog_ui_hbox_first{
    display: none;
    background: red;
    
}
table>tbody>tr:nth-child(3)>td>table>tbody>tr>td.cke_dialog_ui_hbox_first>div.cke_dialog_ui_vbox>table>tbody>tr:nth-child(2){
    background: blue;
    display: none;
    
}
table>tbody>tr:nth-child(3)>td>table>tbody>tr>td.cke_dialog_ui_hbox_first>div.cke_dialog_ui_vbox>table>tbody>tr:nth-child(1){
    background: purple;
    display: none;
    
}
table>tbody>tr:nth-child(3)>td>table>tbody>tr>td.cke_dialog_ui_hbox_first{
    background: red;
    display: none;
}
div.cke_dialog_ui_html{
    //margin-left: 40px !important;   
}
div.cke_resizer.cke_resizer_ltr{
    display: none;
}

/*img{
    max-height: 100%;
    max-width: 100%;
}
*/
table>tbody>tr:nth-child(3)>td>table>tbody>tr>td.cke_dialog_ui_hbox_first>div.cke_dialog_ui_vbox>table>tbody>tr>td>table>tbody>tr>.cke_dialog_ui_hbox_first>div>table>tbody>tr:first-child>td>div>div>div>input{
    background: yellow;
}
.ImagePreviewBox{
    overflow: hidden !important;
    height: 300px !important;
    width: 400px !important;
    border: none !important;
}
.cke_dialog_body>table>tbody>tr>td>div>table>tbody>tr:nth-child(2)>td.cke_dialog_ui_vbox_child{
    display: none;
}
.cke_btn_locked{
    display: none;
}
.cke_dialog_body>table>tbody>tr>td>div>table>tbody>tr:first-child>td.cke_dialog_ui_vbox_child>div>table>tbody>tr>td>table>tbody>tr>td:nth-child(2){
    background: red;
    display: none;
}

//javascriptadded
.cke_dialog_body>table>tbody>tr>td>div>table>tbody>tr:first-child>td.cke_dialog_ui_vbox_child>div>table>tbody>tr>td>table>tbody>tr{
        
}
table>tbody>tr>td>div>table>tbody>tr:first-child>td>div>table>tbody>tr>td>table>tbody>tr>td>div>div>div>input{
    //background: green;    
}

table>tbody>tr:nth-child(3)>td>table>tbody>tr>td.cke_dialog_ui_hbox_first>div.cke_dialog_ui_vbox>table>tbody>tr:nth-child(2)>td>div>table>tbody>tr>td>div>div>div>input{
    background: black;    
    
}
.cke_editable{
    #background: gray !important;
}
li {
  list-style:none;
}
td>img{
    height: 50px !important;
    width: 50px !important;
}
footer header main{
 display:initial !important;
}
main {
 margin: 5% 10% 5% !important;
}
span .btn{
 padding: 1px 12px !important;
}

.sortable{
 margin-top: 50px !important;
 background-color: #ffffff;
}


ul.ranking-content  {
 padding-left: 0;
}

ul.ranking-content li {
 //counter-increment: number -1;
}

ul.ranking-content li {
 //counter-increment: number2 number;
}
/*
ul.ranking-content li fieldset div.ckeditors .ranking-icon{
// content: counter(number);
 padding: 0;
 display: inline-block;
 width: 34px;
 height: 34px;
 text-align: center;
 line-height: 34px;
 background-color: #eeeeee ;
 border: 1px solid #dddddd ;
}


ul.ranking-content li fieldset div.afsubmits h2 .ranking-icon{
 padding: 3px 5px;
 //content: counter(number2);
 background-color: #eeeeee ;
 border: 1px solid #dddddd ;
}
*/

.ranking-icon{
// content: counter(number);
 padding: 0;
 display: inline-block;
 width: 34px;
 height: 34px;
 text-align: center;
 line-height: 34px;
 background-color: #eeeeee ;
 border: 1px solid #dddddd ;
 font-size: 24px;
}
.title-form {
 height: 60px !important;
 width:50% !important;
 display:initial !important;
 font-size: 30px !important;
}

#article_title{
 width: 600px;
}
#user_article_editable{
 float:right;
}
.remove_fields {
 margin-right: 30px;
}
#form_template {
 width: 1200px;
 margin: 0 auto;
}

#posting_buttons{
 float: right;
}

.cke_editable img {
 position: relative !important;
}
.img-url {
 position: absolute !important;
 bottom: 0 !important;
 left: 0 !important;
 display: none !important;
}
.cke_editable img:hover .img-url {
 display: initial !important;
}

.s_eyecatch_img{
 height:70px;
 width:70px;
 object-fit: cover;
 margin-right: 10px;
 overflow: hidden;
 //max-width: ;
}

.top_s_eyecatch_img{
 width:350px;
 height:245px;
 object-fit: cover;
}

.article_content {
 overflow: hidden;
 margin-bottom: 50px;
}
.article_content img {
 max-width: 100%;
}

a,p,h1,h2,h3,h4,h5,h6,h7,h8,h9{
 word-wrap: break-word !important;
}

.head_user_articles{
 clear: both;
}
