/*ul.ranking-content li {
 counter-increment: number;
}

ul.ranking-content li {
 counter-increment: number;
}

ul.ranking-content li fieldset div.ckeditors .ranking-icon:before{
 content: counter(number);
 padding: 3px 5px;
 margin-right:10px;
 background-color: #eeeeee ;
 border: 1px solid #dddddd ;
}

ul.ranking-content li fieldset div.afsubmits h2 .ranking-icon:before{
 padding: 3px 5px;
 content: counter(number);
 background-color: #eeeeee ;
 border: 1px solid #dddddd ;
}
*/
